<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupNameKey</key>
		<string>app_setup_section_0</string>
		<key>items</key>
		<array>
			<dict>
				<key>titleTextKey</key>
				<string>app_setup_version_title</string>
				<key>infoDict</key>
				<dict>
					<key>identifier</key>
					<string>SetupVersionViewController</string>
				</dict>
			</dict>
			<dict>
				<key>titleTextKey</key>
				<string>app_setup_data_title</string>
				<key>infoDict</key>
				<dict>
					<key>identifier</key>
					<string>SetupDataViewController</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupNameKey</key>
		<string>app_setup_section_1</string>
		<key>items</key>
		<array>
			<dict>
				<key>titleTextKey</key>
				<string>app_setup_opensource_title</string>
				<key>infoDict</key>
				<dict>
					<key>identifier</key>
					<string>SetupWebViewController</string>
					<key>fileName</key>
					<string>opensourcelicense</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupNameKey</key>
		<string>app_setup_section_2</string>
		<key>items</key>
		<array>
			<dict>
				<key>titleTextKey</key>
				<string>app_setup_company_name</string>
				<key>infoDict</key>
				<dict>
					<key>identifier</key>
					<string>SetupCompanyInfoViewController</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupNameKey</key>
		<string>app_setup_section_3</string>
		<key>items</key>
		<array>
			<dict>
				<key>titleTextKey</key>
				<string>app_setup_notice_title</string>
				<key>infoDict</key>
				<dict>
					<key>identifier</key>
					<string>SetupWebViewController</string>
					<key>remote</key>
					<string>https://pfxstudio21.wixsite.com/bitmoon/forum/notice</string>
				</dict>
			</dict>
			<dict>
				<key>titleTextKey</key>
				<string>app_setup_req_title</string>
				<key>infoDict</key>
				<dict>
					<key>identifier</key>
					<string>SetupWebViewController</string>
					<key>remote</key>
					<string>https://pfxstudio21.wixsite.com/bitmoon/q-a</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
